In [1]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [2]:
x=[1,2,3,4,5]

In [3]:
y=[1,2,3,5,]

In [4]:
z=[4,5,6,7,8]

In [5]:
print(*x)

1 2 3 4 5

In [6]:
print(*x,*y,*z)

1 2 3 4 5 1 2 3 5 4 5 6 7 8

In [7]:
print(*x,y,z)

1 2 3 4 5 [1, 2, 3, 5] [4, 5, 6, 7, 8]

In [8]:
d={'Name':'Sachin','Course':'Ds'}

In [9]:
d.setdefault('Color',22)

22

In [10]:
d

{'Name': 'Sachin', 'Course': 'Ds', 'Color': 22}

In [11]:
d.setdefault('Name','Samyak')

'Sachin'

In [12]:
d.setdefault('Age','Fair')

'Fair'

In [13]:
d.setdefault('Age','black')

'Fair'

In [14]:
d.setdefault('NAME','Samyak')

'Samyak'

In [15]:
d={'Name':'Sachin','Course':'DS'}

In [29]:
d.update(color='Fair')

In [17]:
d

{'Name': 'Sachin', 'Course': 'DS', 'color': 'Fair'}

In [18]:
d.update(Name='Samyak')

In [19]:
d

{'Name': 'Samyak', 'Course': 'DS', 'color': 'Fair'}

In [20]:
d.setdefault('Hey')

In [21]:
d

{'Name': 'Samyak', 'Course': 'DS', 'color': 'Fair', 'Hey': None}

In [22]:
d.setdefault('Hey','Hello')

In [23]:
d.update(Hey='HEllo')

In [24]:
d.setdefault('Hey','Bye')

'HEllo'

In [27]:
print(d.update(A='Bye'))

None

In [28]:
d

{'Name': 'Samyak', 'Course': 'DS', 'color': 'Fair', 'Hey': 'HEllo', 'A': 'Bye'}

In [30]:
d.popitem()

('A', 'Bye')

In [31]:
d.pop('Hey')

'HEllo'

In [32]:
d.pop('Hey')

KeyError: 'Hey'

In [34]:
d.fromkeys('ABCD',1)

{'A': 1, 'B': 1, 'C': 1, 'D': 1}

In [35]:
d.fromkeys(['Name','Course','Age'],['Samyak','DS',22])

{'Name': ['Samyak', 'DS', 22],
 'Course': ['Samyak', 'DS', 22],
 'Age': ['Samyak', 'DS', 22]}

In [36]:
d=dict(['AB','CD'])

In [37]:
d

{'A': 'B', 'C': 'D'}

In [43]:
d=dict((['AB','GH']))

In [44]:
d

{'A': 'B', 'G': 'H'}

In [54]:
d=dict((['AB','CD'],'12','He','he',(1,2)))

In [55]:
d

{'AB': 'CD', '1': '2', 'H': 'e', 'h': 'e', 1: 2}

In [56]:
for i in d:
    print(f'Hello wolrd to {d[i]}')

Hello wolrd to CD
Hello wolrd to 2
Hello wolrd to e
Hello wolrd to e
Hello wolrd to 2

In [57]:
d['AB']

'CD'

In [58]:
d['1']

'2'

In [59]:
bank={'A':'B'}

In [64]:
bank={'A':{'Name':'Sachin'},'B':{'Name':'Sourabh'},'C':{'Name':'Rajat'}}

In [65]:
bank

{'A': {'Name': 'Sachin'}, 'B': {'Name': 'Sourabh'}, 'C': {'Name': 'Rajat'}}

In [66]:
for i in bank:
    print(i)

A
B
C

In [67]:
for i in bank:
    print(i)

A
B
C

In [68]:
for i in bank.values():
    print(i)

{'Name': 'Sachin'}
{'Name': 'Sourabh'}
{'Name': 'Rajat'}

In [69]:
for i in bank.keys():
    print(bank[i])

{'Name': 'Sachin'}
{'Name': 'Sourabh'}
{'Name': 'Rajat'}

In [70]:
bank['A']

{'Name': 'Sachin'}

In [71]:
bank['B']

{'Name': 'Sourabh'}

In [72]:
bank['C']

{'Name': 'Rajat'}

In [73]:
for i in bank.items():
    print(bank[i])

TypeError: unhashable type: 'dict'

In [74]:
d.items()

dict_items([('AB', 'CD'), ('1', '2'), ('H', 'e'), ('h', 'e'), (1, 2)])

In [76]:
bank.items()

dict_items([('A', {'Name': 'Sachin'}), ('B', {'Name': 'Sourabh'}), ('C', {'Name': 'Rajat'})])

In [77]:
bank['A', {'Name': 'Sachin'}]

TypeError: unhashable type: 'dict'

In [78]:
for i in range(2,20,3):
    print(i)

2
5
8
11
14
17

In [79]:
bank

{'A': {'Name': 'Sachin'}, 'B': {'Name': 'Sourabh'}, 'C': {'Name': 'Rajat'}}

In [80]:
d={1001: {'Name': 'Sachin','bal':10000,'pwd':'redhat@123'}, 1002: {'Name': 'Sourabh','bal':20000,'pwd':'redhat'}, 1003: {'Name': 'Rajat','bal':30000,'pwd':'rajat'}}

In [81]:
d

{1001: {'Name': 'Sachin', 'bal': 10000, 'pwd': 'redhat@123'},
 1002: {'Name': 'Sourabh', 'bal': 20000, 'pwd': 'redhat'},
 1003: {'Name': 'Rajat', 'bal': 30000, 'pwd': 'rajat'}}

In [82]:
d[1001]

{'Name': 'Sachin', 'bal': 10000, 'pwd': 'redhat@123'}

In [83]:
d[1002]

{'Name': 'Sourabh', 'bal': 20000, 'pwd': 'redhat'}

In [84]:
d[1003]

{'Name': 'Rajat', 'bal': 30000, 'pwd': 'rajat'}

In [85]:
for i in d:
    print(i)

1001
1002
1003

In [89]:
for i in d.values():
    print(i)

{'Name': 'Sachin', 'bal': 10000, 'pwd': 'redhat@123'}
{'Name': 'Sourabh', 'bal': 20000, 'pwd': 'redhat'}
{'Name': 'Rajat', 'bal': 30000, 'pwd': 'rajat'}

In [91]:
for i in d.keys():
    print(d[i])

{'Name': 'Sachin', 'bal': 10000, 'pwd': 'redhat@123'}
{'Name': 'Sourabh', 'bal': 20000, 'pwd': 'redhat'}
{'Name': 'Rajat', 'bal': 30000, 'pwd': 'rajat'}

In [87]:
d[1001]

{'Name': 'Sachin', 'bal': 10000, 'pwd': 'redhat@123'}

In [88]:
d[{'Name': 'Sachin', 'bal': 10000, 'pwd': 'redhat@123'}]

TypeError: unhashable type: 'dict'

In [92]:
for i in d.keys():
    print(i)
    print(d[i])

1001
{'Name': 'Sachin', 'bal': 10000, 'pwd': 'redhat@123'}
1002
{'Name': 'Sourabh', 'bal': 20000, 'pwd': 'redhat'}
1003
{'Name': 'Rajat', 'bal': 30000, 'pwd': 'rajat'}

In [94]:
print(*d.items())

(1001, {'Name': 'Sachin', 'bal': 10000, 'pwd': 'redhat@123'}) (1002, {'Name': 'Sourabh', 'bal': 20000, 'pwd': 'redhat'}) (1003, {'Name': 'Rajat', 'bal': 30000, 'pwd': 'rajat'})

In [95]:
d[1001]

{'Name': 'Sachin', 'bal': 10000, 'pwd': 'redhat@123'}

In [96]:
d[1002]

{'Name': 'Sourabh', 'bal': 20000, 'pwd': 'redhat'}

In [97]:
d[1003]

{'Name': 'Rajat', 'bal': 30000, 'pwd': 'rajat'}

In [98]:
d[1001]['Name']

'Sachin'

In [99]:
d[1002]['Name']

'Sourabh'

In [100]:
d[1003]['Name']

'Rajat'

In [101]:
for i in d[1002]:
    print(i)

Name
bal
pwd

In [102]:
for i in d:
    print(d[i]['Name'])

Sachin
Sourabh
Rajat

In [103]:
#Tassk===> 1. Bank Application(5 users)
#2.==> Library mamnagment
#3.===> IRCTC
#4.===> Class Data(10 student)
#5.===> Faculty Data(10 faculty)

In [3]:
d={1001:{'Name':input('Enter the name of Train'),'Source':input('Enter the source'),'Dest':input('Enter the  destination'),'stopage':list(input('Enter the stopage seprated by space').split())},
   1002:{'Name':input('Enter the name of Train'),'Source':input('Enter the source'),'Dest':input('Enter the  destination'),'stopage':list(input('Enter the stopage seprated by space').split())},
  1003:{'Name':input('Enter the name of Train'),'Source':input('Enter the source'),'Dest':input('Enter the  destination'),'stopage':list(input('Enter the stopage seprated by space').split())}
  }

Enter the name of TrainRajdhani
Enter the sourcedelhi
Enter the  destinationmumbai
Enter the stopage seprated by spacebharatpur kota surat vadodara
Enter the name of TrainGolden Temple
Enter the sourceAmritsar
Enter the  destinationMumbai
Enter the stopage seprated by spaceJaipur kota Ratlam surat
Enter the name of Trainaugustkranti
Enter the sourcejaipur kota jodhpur jaisalmer goa
Enter the  destinationGoa
Enter the stopage seprated by spacejaipur kota jodhpur jaisalmer goa

In [4]:
d

{1001: {'Name': 'Rajdhani',
  'Source': 'delhi',
  'Dest': 'mumbai',
  'stopage': ['bharatpur', 'kota', 'surat', 'vadodara']},
 1002: {'Name': 'Golden Temple',
  'Source': 'Amritsar',
  'Dest': 'Mumbai',
  'stopage': ['Jaipur', 'kota', 'Ratlam', 'surat']},
 1003: {'Name': 'augustkranti',
  'Source': 'jaipur kota jodhpur jaisalmer goa',
  'Dest': 'Goa',
  'stopage': ['jaipur', 'kota', 'jodhpur', 'jaisalmer', 'goa']}}

In [5]:
for i in d.keys():
    print(d[i])

{'Name': 'Rajdhani', 'Source': 'delhi', 'Dest': 'mumbai', 'stopage': ['bharatpur', 'kota', 'surat', 'vadodara']}
{'Name': 'Golden Temple', 'Source': 'Amritsar', 'Dest': 'Mumbai', 'stopage': ['Jaipur', 'kota', 'Ratlam', 'surat']}
{'Name': 'augustkranti', 'Source': 'jaipur kota jodhpur jaisalmer goa', 'Dest': 'Goa', 'stopage': ['jaipur', 'kota', 'jodhpur', 'jaisalmer', 'goa']}

In [7]:
for i in d.keys():
    print(i)

1001
1002
1003

In [11]:
d[1003]['Source']='Jaipur'

In [12]:
d

{1001: {'Name': 'Rajdhani',
  'Source': 'delhi',
  'Dest': 'mumbai',
  'stopage': ['bharatpur', 'kota', 'surat', 'vadodara']},
 1002: {'Name': 'Golden Temple',
  'Source': 'Amritsar',
  'Dest': 'Mumbai',
  'stopage': ['Jaipur', 'kota', 'Ratlam', 'surat']},
 1003: {'Name': 'augustkranti',
  'Source': 'Jaipur',
  'Dest': 'Goa',
  'stopage': ['jaipur', 'kota', 'jodhpur', 'jaisalmer', 'goa']}}

In [13]:
d[1003]

{'Name': 'augustkranti',
 'Source': 'Jaipur',
 'Dest': 'Goa',
 'stopage': ['jaipur', 'kota', 'jodhpur', 'jaisalmer', 'goa']}

In [17]:
for i in d.keys():
    for j in d[i]['stopage']:
        print(j,end=' ')
    print()

bharatpur kota surat vadodara
Jaipur kota Ratlam surat
jaipur kota jodhpur jaisalmer goa

In [18]:
d={'Name':'Sachin','Course':'DS'}

In [19]:
d.sort()

AttributeError: 'dict' object has no attribute 'sort'

In [21]:
sorted(d.values())

['DS', 'Sachin']

In [22]:
d

{'Name': 'Sachin', 'Course': 'DS'}

In [28]:
sorted(d.items())

[('Course', 'DS'), ('Name', 'Sachin')]

In [38]:
d={'P':'R','C':'Q'}

In [30]:
sorted(d)

['C', 'P']

In [31]:
sorted(d,key=d.values())

TypeError: 'dict_values' object is not callable

In [33]:
sorted(d.values(),reverse=True)

['R', 'Q']

In [34]:
d.get('R')

In [35]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [36]:
for i in sorted(d.keys()):
    print(i)

C
P

In [39]:
print(sorted(d.items(),key=lambda k:(k[1],k[0])))

[('C', 'Q'), ('P', 'R')]

In [41]:
d1={'a':200,'b':200,'c':300}
d2={'a':200,'b':300,'d':300}

In [42]:
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [43]:
l=[d1.keys()]

In [44]:
l

[dict_keys(['a', 'b', 'c'])]

In [45]:
l1=[i for i in d1]
l2=[i for i in d2]

In [46]:
l1

['a', 'b', 'c']

In [47]:
l2

['a', 'b', 'd']

In [48]:
d1['a']

200

In [49]:
d2['a']

200

In [53]:
d1={'a':200,'b':200,'c':300}
d2={'a':200,'b':300,'d':300}

In [54]:
d={}
for i in d1.keys():
    if i in d2:
        d[i]=d1[i]+d2[i]
    else:
        d[i]=d1[i]
for i in d2.keys():
    if i not in d1.keys():
        d[i]=d2[i]

In [55]:
d

{'a': 400, 'b': 500, 'c': 300, 'd': 300}

In [60]:
d={'D':'P','X':'Y','R':'H'}

In [57]:
print(sorted(d))

['D', 'R', 'X']

In [63]:
from collections import Counter
x=Counter(d)

In [64]:
print(x)

Counter({'X': 'Y', 'D': 'P', 'R': 'H'})

In [65]:
d[1001]

KeyError: 1001

In [66]:
d={1001: {'Name': 'Rajdhani',
  'Source': 'delhi',
  'Dest': 'mumbai',
  'stopage': ['bharatpur', 'kota', 'surat', 'vadodara']},
 1002: {'Name': 'Golden Temple',
  'Source': 'Amritsar',
  'Dest': 'Mumbai',
  'stopage': ['Jaipur', 'kota', 'Ratlam', 'surat']},
 1003: {'Name': 'augustkranti',
  'Source': 'Jaipur',
  'Dest': 'Goa',
  'stopage': ['jaipur', 'kota', 'jodhpur', 'jaisalmer', 'goa']}}

In [67]:
x=int(input('Enter train number'))
print(d[x])

Enter train number1001
{'Name': 'Rajdhani', 'Source': 'delhi', 'Dest': 'mumbai', 'stopage': ['bharatpur', 'kota', 'surat', 'vadodara']}

In [96]:
from itertools import combinations,combinations_with_replacement,permutations

In [80]:
x1=[1,2,3,4,5,5,4]

In [78]:
x=combinations(x,2)

In [79]:
for i in x:
    print(i)

(1, 2)
(1, 3)
(1, 4)
(1, 5)
(1, 5)
(1, 4)
(2, 3)
(2, 4)
(2, 5)
(2, 5)
(2, 4)
(3, 4)
(3, 5)
(3, 5)
(3, 4)
(4, 5)
(4, 5)
(4, 4)
(5, 5)
(5, 4)
(5, 4)

In [93]:
x=[1,2,2,3,3,4,5]

In [94]:
x=combinations_with_replacement(x,2)

In [95]:
for i in x:
    print(i)

(1, 1)
(1, 2)
(1, 2)
(1, 3)
(1, 3)
(1, 4)
(1, 5)
(2, 2)
(2, 2)
(2, 3)
(2, 3)
(2, 4)
(2, 5)
(2, 2)
(2, 3)
(2, 3)
(2, 4)
(2, 5)
(3, 3)
(3, 3)
(3, 4)
(3, 5)
(3, 3)
(3, 4)
(3, 5)
(4, 4)
(4, 5)
(5, 5)

In [103]:
x=[1,2,3,4]

In [104]:
x=permutations(x,2)

In [105]:
for i in x:
    print(i)

(1, 2)
(1, 3)
(1, 4)
(2, 1)
(2, 3)
(2, 4)
(3, 1)
(3, 2)
(3, 4)
(4, 1)
(4, 2)
(4, 3)